.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
  }
  
  .two-columns__brief {
    width: 175px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #2f80ed;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .two-columns__main-text {
    font-size: 24px;
    width: 80%;
    line-height: 34px;
    font-weight: normal;
  }
  
  .two-columns__paragraph {
    margin-bottom: 30px;
    margin-top: 0;
  
  }
  
  .two-columns__paragraph:last-child {
    margin-bottom: 0;
  }
  
  .two-columns__span-accent {
    font-weight: bold;
  }