.kaufman {
    padding-top: 90px;
    background-color:#1f1f1f;
    padding-bottom: 90px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  .section-title_theme_dark {
    display: flex;
    justify-content: center;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .section-subtitle_theme_dark {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
  }
  
  .table_theme_dark {
    position: relative;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
  
  }
  
  .table__cell_theme_dark {
    color: white;
    margin-top: 80px;
    width: 200px;
  }
  
  .table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }
  
  .table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    text-decoration: none;
  }
  
  .kaufman__triangle {
    width: 877px;
    height: 877px;
    background-image: url(/images/kaufman-triangle.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: -210px;
    top: 0;
    z-index: -1;
  }