.footer {
    min-height: 350px;
    background-color: #1f1f1f;
    margin: 0 auto;
    display: flex;
  }
  
  .footer__columns {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   
  .logo_place_footer {
    width: 183px;
    min-height: 35px;
  }
  
  .footer__author {
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin-top: 18px;
    margin-bottom: 18px;   
  }
  
  .footer__column-heading {
    color: white;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer__column-links {
    margin-left: 0;
    padding-left: 0;
    color: white;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    opacity: 1;
  }
  
  .footer__column-links:hover {
    opacity: 0.3;
  }
  
  .footer__social-icon {
    color: white;
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer__column-link {
    color: white;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin-left: 0;
    padding-left: 0;
    opacity: 1;
  }
  
  .footer__column-link:hover {
    opacity: 0.3;
  }